<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/AngularJS/angular.min.js"></script>
    <script src="/JS/index.js"></script>
</head>

<body>

    <div ng-app="myApp" ng-init="myCol='lightblue'">
        <p>Name: <input type="text" ng-model="name"></p>
        <p ng-bind="name"></p>


        <div data-ng-init="firstName='John'">

            <p>The name is <span data-ng-bind="firstName"></span></p>

        </div>

        <div>
            <p>My first expression: {{5+5}}</p>
        </div>

        <div>
            <p>Name: <input type="text" ng-model="NameIN"></p>
            <p>{{NameIN}}</p>
        </div>

        <div ng-controller="NameController">
            First Name: <input type="text" name="" id="" ng-model="firstName"><br>
            Last Name: <input type="text" name="" id="" ng-model="lastName"><br>

            Full Name: {{firstName + " " +lastName}}

        </div>

        <input style="background-color:{{myCol}}" ng-model="myCol">

    </div>
</body>

</html>